---
// ArticleQuizButton.astro - A minimal wrapper for the QuizButton component
import { getEntry } from "astro:content";
import QuizButton from "./QuizButton";

interface Props {
  postId: string;
  postTitle: string;
}

const { postId, postTitle } = Astro.props;

const post = await getEntry("blog", postId);
---

<div class="quiz-button-container">
  <QuizButton
    {postId}
    {postTitle}
    mcqs={post?.data.mcqs}
    client:only="solid-js"
  />
</div>

<style>
  /* Add some containment for better performance */
  .quiz-button-container {
    contain: content;
  }
</style>
