---
import BaseLayout from "@/layouts/BaseLayout.astro";

interface Props {
  error: unknown;
}

const { error } = Astro.props;

// https://docs.astro.build/en/basics/astro-pages/#custom-500-error-page
---

<BaseLayout title="500 | Zahrawi" description="500 page not found">
  <div>{error instanceof Error ? error.message : "Unknown error"}</div>
</BaseLayout>
