---
import BaseLayout from "../layouts/BaseLayout.astro";

import SearchCom from "astro-pagefind/components/Search";

// export const prerender = false;
// const q = Astro.url.searchParams.get("q") ?? undefined;

const title = "Search | Zahrawi Dental Blog";
const description = "Search for blog posts";
---

<BaseLayout title={title} description={description}>
  <h1>Search</h1>



  <SearchCom
    id="search"
    className="pagefind-ui"
    uiOptions={{ showImages: false }}
  />

  <script>
    const searchInput = document.querySelector("#search .pagefind-ui__search-input");
    const urlParams = new URLSearchParams(window.location.search);
    const q = urlParams.get("q");

    if (q && searchInput) {
      searchInput.value = q;
      // You may need to trigger the search manually depending on Pagefind's API
      // For example, if pagefind uses an event, you would dispatch that event here.
      searchInput.dispatchEvent(new Event('input')); // Example trigger.
    }
  </script>

</BaseLayout>

<style>
  .pagefind-ui {
    --pagefind-ui-scale: 0.75;
    --pagefind-ui-primary: navy;
    --pagefind-ui-text: black;
    --pagefind-ui-border: slategrey;
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 0.25rem;
    --pagefind-ui-font: sans-serif;

    width: 50%;
  }

  .pagefind-ui.yellow {
    --pagefind-ui-background: lightyellow;
  }

  .pagefind-ui.red {
    --pagefind-ui-background: peachpuff;
    width: 100%;
  }

  .pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0px;
    z-index: 9999;
    padding: 0 2em 1em;
    overflow-y: auto;
    box-shadow:
      0 10px 10px -5px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: var(--pagefind-ui-border-radius);
    border-bottom-left-radius: var(--pagefind-ui-border-radius);
    background-color: var(--pagefind-ui-background);
  }

  .pagefind-ui .pagefind-ui__result-link {
    color: var(--pagefind-ui-primary);
  }

  .pagefind-ui .pagefind-ui__result-excerpt {
    color: var(--pagefind-ui-text);
  }
</style>
