---
import type { CollectionEntry } from "astro:content";

// src/components/PrevNext.astro

type BlogPost = CollectionEntry<"blog">;
interface Props {
  prevPost: BlogPost | null;
  nextPost: BlogPost | null;
}

// interface Props {
//   prevPost?: {
//     slug: string;
//     title: string;
//     category: string;
//     subcategory: string;
//   };
//   nextPost?: {
//     slug: string;
//     title: string;
//     category: string;
//     subcategory: string;
//   };
// }

const { prevPost, nextPost } = Astro.props;
---

<nav
  class="border-rick-black-100 mt-12 flex items-center justify-between border-t pt-8"
>
  {
    prevPost && (
      <a
        href={`/${prevPost.id}`}
        class="group text-rich-black-300 hover:text-rich-black-100 flex items-center transition-colors"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mr-2 h-5 w-5 transform transition-transform group-hover:-translate-x-1"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          />
        </svg>
        <div class="flex flex-col">
          <span class="text-rich-black-400 text-sm">Previous</span>
          <span class="font-medium">{prevPost.data.title}</span>
        </div>
      </a>
    )
  }

  {
    nextPost && (
      <a
        href={`/${nextPost.id}`}
        class="group text-rich-black-300 ml-auto flex items-center transition-colors hover:text-white"
      >
        <div class="flex flex-col text-right">
          <span class="text-rich-black-400 text-sm">Next</span>
          <span class="font-medium">{nextPost.data.title}</span>
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="ml-2 h-5 w-5 transform transition-transform group-hover:translate-x-1"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </a>
    )
  }
</nav>
