---

---

<div
    class="prose prose-neutral 
prose-headings:font-semibold prose-headings:tracking-tight
    md:prose-lg lg:prose-xl prose-h1:text-teal-900 prose-h2:text-teal-700 prose-h3:text-teal-600"
>
  <slot />
</div>
