---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import SideBarFlow from "@/components/SideBarFlow.astro";

interface Props {
  title: string;
  description: string;
}

const { title = "Zahrawi Dental Blog", description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="flex min-h-screen flex-col ml-64 ">
    <SideBarFlow />
    <main class="flew-grow min-h-[50vh]">
      <slot />
    <Footer />
    </main>

  </body>
</html>

<script>
  import { Modal } from 'flowbite'

  // select the two elements that we'll work with
  const $buttonElement: HTMLElement | null = document.querySelector('#button');
  const $modalElement: HTMLElement | null = document.querySelector('#defaultModal');

  // create a new modal component
  const modal = new Modal($modalElement);

  // toggle the visibility of the modal when clicking on the button
  if ($buttonElement) {
    $buttonElement.addEventListener('click', () => modal.toggle());
  }
</script>
